{% extends 'base.html' %}
{% block title %}Lista de albums{% endblock %}
{% block content %}

<a href="{{ url_for('albums.create_album')}}" class="btn btn-success mb=3">Agregar Album</a>
<br><br>
<table class = "table table-bordered">
<thead>
    <th>ID</th>
    <th>Titulo</th>
    <th>Artista</th>
    <th>Fecha_lanzamiento</th>
    <th>Genero</th>
    <th>Descripcion</th>
    <th>Acciones</th>
</thead>
<tbody>
    {% for album in albums %}
    <tr>
    <td>{{album.id}}</td>
    <td>{{album.titulo}}</td>
    <td>{{album.artista}}</td>
    <td>{{album.fecha_lanzamiento}}</td>
    <td>{{album.genero}}</td>
    <td>{{album.descripcion}}</td>
  <td class="d-flex gap-2">
    <a href="{{ url_for('albums.update_album', id=album.id) }}" class="btn btn-warning btn-sm">
        Actualizar
    </a>
    <a href="{{ url_for('albums.delete_album', id=album.id) }}" class="btn btn-danger btn-sm">
        Eliminar
    </a>
</td>
  {% endfor %}

</tbody>




</table>

{% endblock %}